Repository ministryofjustice/hmpps-template-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck, test

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

test:
  name: running tests
  language: system
  entry: npm run test
  require_serial: true
  pass_filenames: false

Run precommit hooks if package-lock.json changes (#679)
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

Fix vulns 2026-02-26
  package-lock.json
Due: lint, typecheck, test

Fix vulns 2026-02-26 (#680)
  package-lock.json
Due: lint, typecheck, test

Convert client-side script sources to typescript
  assets/@types/govuk-frontend/index.d.ts
  assets/@types/moj-frontend/index.d.ts
  assets/js/index.ts
  assets/js/tsconfig.json
  esbuild/build.config.js
  tsconfig.json
Due: lint, typecheck, test

Use shared library for frontend type definitions
  assets/@types/govuk-frontend/index.d.ts
  assets/@types/moj-frontend/index.d.ts
  assets/js/tsconfig.json
  package-lock.json
  package.json
Due: lint, typecheck, test

Update gov.uk frontend v6 moj frontend v9
  package-lock.json
  package.json
Due: lint, typecheck, test

Update gov.uk frontend v6 moj frontend v9 (#685)
  package-lock.json
  package.json
Due: lint, typecheck, test

Fix fast-xml-parser-vuln
  package-lock.json
  package.json
Due: lint, typecheck, test

Fix fast-xml-parser-vuln (#687)
  package-lock.json
  package.json
Due: lint, typecheck, test

Convert client-side script sources to typescript (#681)
  assets/js/index.ts
  assets/js/tsconfig.json
  esbuild/build.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: lint, typecheck, test

Fix vuln 2026-03-05
  package-lock.json
Due: lint, typecheck, test

Fix vuln 2026-03-05 (#690)
  package-lock.json
Due: lint, typecheck, test

HAAR-5089 Perform port/health check without curl.
  docker-compose.yml
Due: none

Remove npm dependency from production image
  Dockerfile
Due: none

HAAR-5089 Perform port/health check without curl. (#692)
  docker-compose.yml
Due: none

Update .allowed-scripts.mjs
  .allowed-scripts.mjs
Due: none

Fix title of change in CHANGELOG.md
  CHANGELOG.md
Due: none

Fix title of change in CHANGELOG.md (#699)
  CHANGELOG.md
Due: none

Update dependencies 2026-03-26
  package-lock.json
  package.json
Due: lint, typecheck, test

Update dependencies 2026-03-26 (#702)
  package-lock.json
  package.json
Due: lint, typecheck, test

Add minimum age of depedencies
  .npmrc
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add npmrc security improvements (#706)
  .npmrc
  CHANGELOG.md
Due: none

Testing SLSA action
  .github/workflows/pipeline.yml
Due: none

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: none

Update dependencies 2026-04-02
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint, typecheck, test

Update dependencies 2026-04-02 (#708)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint, typecheck, test

Make stability days in renovate config consistent with npmrc min-release-age
  CHANGELOG.md
  renovate.json
Due: none

Make stability days in renovate config consistent with npmrc min-release-age (#711)
  CHANGELOG.md
  renovate.json
Due: none

Some change
  README.md
Due: none

test sbom workflow
  .github/workflows/pipeline.yml
Due: none

enable sbom step
  .github/workflows/pipeline.yml
Due: none

Update to Typescript v6
  logger.js
  logger.js.map
  package-lock.json
  package.json
  playwright.config.js
  playwright.config.js.map
  server.js
  server.js.map
  tsconfig.json
Due: lint, typecheck, test

Exclusions
  logger.js
  logger.js.map
  playwright.config.js
  playwright.config.js.map
  server.js
  server.js.map
  tsconfig.json
Due: lint

Update changelog
  CHANGELOG.md
Due: none

Path conditions:
  lint: any of: (\.(ts|js|css)$|^package-lock\.json$)
  typecheck: any of: (\.(ts)$|^package-lock\.json$)
  test: any of: (\.(ts)$|^package-lock\.json$)
